<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta</title>
  </head>
  <body>
    <h2>Consulta de álbum</h2>
    <!-- <a href="{{ url_for('home' ) }}">Abrir vista Formulario</a> -->
    <table>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Artista</th>
          <th>Fecha de lanzamiento</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ album.titulo }}</td>
          <td>{{ album.artista }}</td>
          <td>{{ album.fecha_lanzamiento }}</td>
          <td>
            <a href="{{ url_for('actualizar_album', id=album.id ) }}"
              >Actualizar</a
            >
          </td>
          <td>
            <a href="{{ url_for('confirmar_eliminar', id=album.id ) }}"
              >Eliminar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <a href="{{ url_for('home' ) }}">Regresar al formulario</a>
  </body>
</html>
